.eventCard__div:first-of-type,
.friendsEventCard__div:first-of-type {
    background-color: #dfb8a1;
    font-weight: 600;
    font-size: 140%;
}

.friendsEventCard__div {
    background-color: cornsilk;
    font-style: italic;
}
