.eventCard__div:first-of-type,
.friendsEventCard__div:first-of-type {
    background-color: #78a3b1;
    font-weight: 600;
    font-size: 140%;
}

.friendsEventCard__div {
    background-color: cornsilk;
    font-style: italic;
}

.eventCard__div {
    border: 1px solid #78a3b1;
    font-weight: 300;
    padding: 10px;
}
